<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.dhflour.gombooksvr.mapper.oracle.OracleUserMapper">
    <!-- case1. 전체 조회 Sample, 대한제분 개발서버의 재직자 리스트를 가져온다. -->
    <select id="getEmpList" resultType="map">
        SELECT A.CD_COMPANY AS CD_COMPANY
              ,A.NO_EMP
              ,A.NM_KOR
              ,A.CD_DEPT
              ,B.NM_DEPT
              ,A.NO_TEL_EMER
              ,A.DT_BIRTH
          FROM MA_EMP A, MA_DEPT B
         WHERE A.CD_COMPANY = B.CD_COMPANY
           AND A.CD_DEPT = B.CD_DEPT
           AND A.CD_COMPANY = '10'
           AND A.CD_INCOM != '099'
         ORDER BY A.CD_DEPT
    </select>

    <!-- case2. 타겟 조회 Sample, 회사코드와 사번을 받아, 해당되는 인원을 가져온다. -->
    <select id="getEmpById" resultType="cMap" parameterType="map">
        SELECT A.CD_COMPANY AS CD_COMPANY
              ,A.NO_EMP
              ,A.NM_KOR
              ,A.CD_DEPT
              ,B.NM_DEPT
              ,A.NO_TEL_EMER
              ,A.DT_BIRTH
         FROM MA_EMP A, MA_DEPT B
         WHERE A.CD_COMPANY = B.CD_COMPANY
           AND A.CD_DEPT = B.CD_DEPT
           AND A.CD_COMPANY = '10'
           AND A.NO_EMP = #{noEmp}
    </select>

</mapper>